.dayTitle {
    font-style: helvetica;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.jumbotron {
    background-color:rgba(0, 0, 0, 0.0);
}

h1 {
    font-family: helvetica;
    font-style: oblique;
    font-weight: bolder;
}

body {
    background-image: url(../img/background1.jpg);
    color: white;
}

select#selectDay {
    color: black;
}

button#check-class-status-0, button#check-class-status-1, button#check-class-status-2, button#check-class-status-3, button#check-class-status-4, button#check-class-status-5 {
    display: none;
    background-color:rgba(0, 0, 0, 0.0);
    float: right;
    border: 50%;
}

li#day0-classStatus, li#day1-classStatus, li#day2-classStatus, li#day3-classStatus, li#day4-classStatus, li#day5-classStatus {
    font-weight: bolder;
    font-size: 15px;
}